<!DOCTYPE html>
<html>
<head><title>Correct CheXpert Labels</title></head>
<body>
    <h3>Correct Labels for Patient Image</h3>
    <form action="/correct" method="post">
        Patient ID: <input name="patient_id"><br>
        Image Name: <input name="image_name"><br>
        Sex: <input name="sex"><br>
        Age: <input name="age"><br>
        View (Frontal/Lateral): <input name="view"><br>
        Projection (AP/PA): <input name="projection"><br><br>

        {% for label in labels %}
        <input type="checkbox" name="labels" value="{{ label }}">{{ label }}<br>
        {% endfor %}

        <button type="submit">Submit Correction</button>
    </form>
</body>
</html>
